* {
    font-family: Montserrat, sans-serif;
}
body {
    background-color: white;
}
.numberInfo {
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 700;
}
.infoContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 75px
}
.plusIcon {
    font-size: 70px;
    font-family: Varela Round, sans-serif
}